absl-py==0.10.0
aiohttp==3.6.2
asgiref==3.3.1
astor==0.8.1
astroid==2.5.1
async-timeout==3.0.1
attrs==20.1.0
autopep8==1.5.4
beautifulsoup4==4.9.1
calc==1.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
discord==1.0.1
discord.py==1.4.1
Django==3.1.3
flake8==3.8.4
Flask==1.1.2
gast==0.4.0
google-pasta==0.2.0
greenlet==1.0.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==2.0.0
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.6.0
Markdown==3.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
MouseInfo==0.1.3
msgpack==1.0.2
multidict==4.7.6
nltk==3.5
numpy==1.19.2
Pillow==7.2.0
protobuf==3.13.0
PyAutoGUI==0.9.52
pycodestyle==2.6.0
pyflakes==2.2.0
pygame==2.0.0
pygame-gui==0.5.7
PyGetWindow==0.0.9
pyjokes==0.6.0
pylint==2.7.2
PyMsgBox==1.0.9
pynvim==0.4.3
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
pytz==2020.4
regex==2020.10.11
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tflearn==0.3.2
toml==0.10.2
tqdm==4.50.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.25.10
Werkzeug==1.0.1
wikipedia==1.4.0
wrapt==1.12.1
yarl==1.5.1
zipp==3.3.0
